.cartItems {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

.signleItem {
    display: flex;
    align-items: center;
    background-color: #f7f6f5;
    width: 700px;
    margin-bottom: 60px;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 0px 85px -22px #4f4f4f;

}

.buttonsBox {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.addRemoveButtons {
    background-color: #9d9797;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 6px 20px;
    border: 0;
}

.totalSum {

    background-color: #cecece;
    font-family: "DM Serif Text", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    border-radius: 4px;
    text-align: center;
}