.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d9d3d33b;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.wearx {
    font-family: "Montserrat Subrayada", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: black;

}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.menWomen {
    font-family: "DM Serif Text", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;

}