.payBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: auto;
    margin-top: 120px;
}

.creditCashButtons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    width: 400px;
}

.activeButton {
    background-color: #242424;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 20px;
    border: 0;
}

.inactiveButton {
    background-color: #bab9c0;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 20px;
    border: 0;
}

.card {
    width: 350px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    transform-style: preserve-3d;
    margin-bottom: 40px;
    transition: transform 0.5s ease-in-out;
}

.cardRotate {
    transform: rotateY(180deg);
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    margin-left: 40px;
}

.cardFront {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(135deg, #a9b1ba, #50717b);
    color: white;
}

.scan {
    width: 35px;
    height: 20px;
    background-color: bisque;
    position: relative;
    margin-left: 20px;


}

.scan::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 10px;
    background-color: #c49d1f;
    top: 5px;
}

.serialNumber {
    font-size: x-large;
    margin-left: 20px;
}

.nameCvv {
    display: flex;
}

.cvv {
    width: 200px;
    overflow-wrap: break-word;
}

.cardBack {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(135deg, #a9b1ba, #50717b);
    color: white;
    transform: rotateY(180deg);
}

.firstLine {
    width: 100%;
    height: 40px;
    background-color: black;
    margin-top: 20px;

}

.secondBox {
    display: flex;
    align-items: center;
}

.secondLine {
    width: 70%;
    height: 20px;
    background-color: white;
    margin-right: 10px;

}

.monthYear {
    width: 60px;
}


form {
    width: 600px;
    border: 4px solid rgb(209, 206, 206);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    margin-bottom: 300px;
}

.nameNumber {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.nameNumber label {
    background-color: #ced1d4;
    border-radius: 2px;
    margin-bottom: 8px;
}

.nameNumber input {
    padding: 0;
    width: 98%;
    height: 20px;
    padding-left: 4px;
}

.monthYearCvv {
    display: flex;
    justify-content: space-around;
}

.monthYearCvv div {
    width: 160px;
}

.monthYearCvv label {
    background-color: #ced1d4;
}

.monthYearCvv input {
    width: 160px;
}

.resetPayBox {
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}

.resetPay {
    margin-top: 20px;
    background-color: #3b3a3a;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 20px;
    border: 0;
}

.pay {
    margin-right: -62px;
    background-color: #d0d0d3;
}

.dialogBox {
    padding: 0;
    border-radius: 50px;
    border: solid rgb(61, 59, 59) 4px;
}

.successfulPayment {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.successfulPayment button {
    margin-top: 20px;
    background-color: #3b3a3a;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 20px;
    border: 0;
}