.welcomingSection {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;

}

.fashiologoBox {
    display: flex;
    flex-direction: column;
    width: 700px;
    position: relative;
}

.describeText {
    font-family: "DM Serif Text", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    border-radius: 8px;
    margin-top: 0;
    margin-left: 10px;

}

.fashionlogo {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin-left: 10px;

}

.rightPhotos {
    position: relative;
    width: 800px;
    height: 750px;

}

.rightPhoto {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    right: 40px;
    box-shadow: 0px 0px 85px -22px #4f4f4f;
}


.leftPhoto {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    right: 500px;
    box-shadow: 0px 0px 85px -22px #4f4f4f;

}


.newCollections {
    font-family: "Montserrat Subrayada", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    border-radius: 20px;
    margin-top: 180px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: #d9d3d33b;

}

.itemsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 120px;
}

/* 
.itemNameBorder {
    border-bottom: solid black 2px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
    background-color: #d9d3d33b;
}

.countItem {
    background-color: #bdb9b987;
    padding: 4px;
    border-radius: 2px;
}

.item {
    font-family: "DM Serif Text", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    border: solid 4px rgb(192, 186, 186);
    border-radius: 4px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 85px -22px #4f4f4f;

}


.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.addRemoveButtons {
    background-color: #9d9797;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 6px 20px;
    border: 0;
} */